.banner {
	background-image: url(../../images/ban.jpg);
	color: white;
	padding: 200px 0px;
	background-position: center;
	background-size: cover;
	height: 140px;

}

.banner h1 {
	font-size: 70px;
	opacity: 0.6;

}

.banner h2 {
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 60px;
	margin-top: 80px;
}